<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectManagementUI</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.sjsu.cmpe.controller.LoginController</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
	<url-pattern>/signup</url-pattern>
	<url-pattern>/dashboard</url-pattern>
	<url-pattern>/createProject</url-pattern>
	<url-pattern>/listProject</url-pattern>
	<url-pattern>/updateProject</url-pattern>
	<url-pattern>/addTask</url-pattern>
  	<url-pattern>/listTask</url-pattern>
  	<url-pattern>/updateTask</url-pattern>
  </servlet-mapping>
	
</web-app>